body, html {
    margin: 0;
    padding: 0;
  
  }
  
  .logo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px; 
  }
  
  .logo {
    width: 150px; 
    height: 150px; 
    border-radius: 50%;
  }
  
  #navbar {
    background-color: rgba(0, 0, 0, 0.87);
    font-family: "Poppins", sans-serif;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  
  #navbar-title {
    font-size: 1.2em;
    margin-left: 20px;
    font-family: "Poppins", sans-serif;
  }
  
  #back-button {
    background-color: white;
    color: black;
    padding: 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 30px;
  }
  
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
  }
  
  .Chat {
    text-align: center;
    margin-top: 60px;
  }
  
  .chatbot-container {
    max-width: 400px;
    margin: 0 auto;
  }
  
  .chatbot-messages {
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .user-message {
    background-color: rgb(255, 148, 207);
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 15px;
    max-width: 80%;
  }
  
  .bot-message {
    background-color: rgb(230, 255, 189);
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 15px;
    max-width: 95%;
  }
  
  input {
    width: 100%;
    padding: 10px;
  }
  